.login input {
  width: 60%;
  height: 40px;
}
.login-button {
  padding: 10px 185px;
  background-color: grey;
  color: white;
  border: none;
  outline: none;
}
.login-button1 {
  padding: 10px 185px;
  background-color: grey;
  color: white;
  border: none;
  outline: none;
}
.login-button:hover {
  background-color: green;
}
.login-button1:hover {
  background-color: yellow;
  color: black;
}
table {
  border: 1px solid grey;
  padding: 35px;
}
th {
  padding: 10px 30px;
}
td {
  padding: 10px 30px;
}
.edit {
  padding: 2px 15px;
  margin-right: 10px;
  background-color: grey;
  color: white;
  border: none;
  outline: none;
}
.edit:hover {
  background-color: blue;
}
.delete {
  padding: 2px 15px;
  margin-right: 10px;
  background-color: grey;
  color: white;
  border: none;
  outline: none;
}
.delete:hover {
  background-color: red;
}
.user{
    box-shadow: 0 0 5px solid grey;
}
